<%- include("partials/header.ejs") %>

<section id="body">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Fukouka, Japan Travel Diary</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
    </div>
  </div>
  <h3 class="pb-4 mb-4 mx-4  fst-italic border-bottom">
    Most popular posts
  </h3>
  <div class="container-fluid px-4 py-3" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Travel Bucket Lists in 2024</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <p>Author: Janna Lomibao</p>
                <a href="">Continue reading ></a>
              </li>
              <li class="d-flex align-items-center me-3">
                <img class="logo" src="./images/News (1).png" alt="logo">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Travel</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Healthy Breakfast Ideas</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <p>Author: Jan Armas</p>
                <a href="">Continue reading ></a>
              </li>
              <li class="d-flex align-items-center me-3">
                <img class="logo" src="./images/News (1).png" alt="logo">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>Food</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Yoga FAQ for beginners</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <p>Author: Victoria Miguel</p>
                <a href="">Continue reading ></a>
              </li>
              <li class="d-flex align-items-center me-3">
                <img class="logo" src="./images/News (1).png" alt="logo">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>Motivational</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="pb-4 mb-4 mx-4 fst-italic border-bottom">
    New posts
    
  </h3>
  <div class="container-fluid px-4 py-3" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
  <% if (locals.posts != null) { %>
   
    <% for (var i = 0; i < locals.posts.length; i++) { %>
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                <%= locals.posts[i].title %>
                <% console.log(locals.posts[i].title) %>
              </h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <p>Author: <%= locals.posts[i].author %></p>
                  <a href="<%= /* Add link to the post */ %>">Continue reading ></a>
                </li>
                <li class="d-flex align-items-center me-3">
                  <img class="logo" src="./images/News (1).png" alt="logo">
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                  <small><%= locals.posts[i].category %></small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
</div>
</section>

<%- include("partials/footer.ejs") %>